<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static',filename= 'css/style.css')}}">
        <title>Personal Planer - Login</title>
    </head>
    <body>
        <h1>Neue Aufgabe hinzufügen</h1>
        <form>
            <div>
                <label for="Titel"><b>Titel</b></label>
                <input type="text" placeholder="hier einen Titel eingeben" required> <br>
                <label for="Content"><b>Content</b></label>
                <input type="text" placeholder="genauere Informationen"> <br>
                <label for="Datum"><b>Datum</b></label>
                <input type="date" required> <br>
                <button type="submit">Hinzufügen</button>
            </div>
        </form>
    </body>
</html>